html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #DCEFEB 0%, #FFFFFF 62.3%);
  height: 100%;
}

.sign-up__title {
  text-transform: uppercase;
  font-size: 3.25rem;
  color: rgba(30, 138, 140, 1);
  text-align: center;
  margin: 1rem ;
}

